/* header styles */
*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
/* :root{
  --background:rgba(214,204,153,0.2);
} */
:root{
    --text-xs:clamp(0.5625rem  0.7402rem + -0.2293vw  0.6944rem);
  --text-sm:clamp(0.75rem, 0.862rem + -0.1446vw, 0.8331rem);
  --text-base:clamp(1rem, 1rem + 0vw, 1rem);
  --text-lg:clamp(1.2rem, 1.1537rem + 0.2315vw, 1.3331rem);
  --text-xl:clamp(1.44rem, 1.3228rem + 0.5859vw, 1.7769rem);
  --text-2xl:clamp(1.7281rem, 1.5053rem + 1.1141vw, 2.3688rem);
  --text-3xl:clamp(2.0738rem, 1.6968rem + 1.8848vw, 3.1575rem);
  --text-4xl:clamp(2.4881rem, 1.8896rem + 2.9924vw, 4.2088rem);
}
:root[data-theme="light"] {
  --text: hwb(42 0% 91%);
  --background:rgba(214,204,153,0.2);
  --primary: #001524;
  --secondary:#445D48;
  --accent: #FDE5D4;
  --card: rgba(247, 242, 242,1);
}
:root[data-theme="dark"] {
  --text: hsl(42, 92%, 95%);
  --background:#001524 ;
  --primary: #001524;
  --secondary: #445D48;
  --accent: #D6CC99;
  --card: rgba(255, 255, 255, 0.03);
}

 body{
  background-color: var(--background);
  


}


.header {
  display: flex;
  text-align: center;
  font-size: 30px;
  margin: 10px 0;
  color:var(--text)
}

 .navbar {
      /* background-color:var(--background); */
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left :1rem;
      padding-right :1rem;
      height:50px
    }
.navbar h3{
     font-weight: 200;
     font-size: 2rem;
}
    .navbar-brand {
      display: flex;
      align-items: center;
      text-decoration: none;
      /* color: white; */
      font-size: xxx-large;
      font-weight: 700;
      /* margin-right: 15px; */
      /* width:30% */
    }

    .navbar-brand img {
      height: 50px;
      width: 50px;
      margin-right: 10px;
    }

    .search{
       position:relative;
      max-width: 400px;
      height: 1rem;
      /* margin-right: 15px; */
      padding: 5px;
      width:100%;
      display: flex;
      justify-content:center;
      justify-items: center;
      align-items: center;
      /* padding-bottom: 1rem; */
    flex-direction: row;
    min-width: 200px;
    }
    .search-form{
     
        display: flex;
  align-items: center;
  width: 100%;
    
    
    }
    .search-form input{
 width: 100%;
  padding: 0.5rem 0;
  padding-left: 3.5rem;
  border-width: 0px;
  outline: none;
  background-color: white;
  /* border: 1px solid var(--border); */
  color: var(--text);
  /* /* border-top-left-radius: 0.5rem; */
  border-radius: 5rem; 

 }
 .search-icon{
 position: absolute;
  left: 0px;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  font-size: 2rem;
  pointer-events: none; }



.theme-n-cart{
  display: flex;
  justify-content: flex-end;
  /* width: 20%; */
  gap: 1rem
};



 
    @media (max-width: 768px) {
      .navbar {
        flex-direction: column;
      }

      .navbar-nav {
        margin-top: 1rem;
        padding-bottom: 0;
      }
    }
.cartitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  margin-bottom: 20px;
}

.cartItemImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.cartItemDetail {
  display: flex;
  flex: 1;
  padding: 0 20px;
  flex-direction: column;
}

/* Home Page */

.home {

 flex-direction: column;
  display: flex;
  align-content: center;
  justify-content: center;
  
 

}


 .product-container-header{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content:space-between;
  /* background-color: red; */
  padding-top: 1rem;
  color: var(--text);
    font-size: var(--text-4xl);
 }
h2{
  font-size: 30px;
  font-weight: lighter;
}
h3{
  font-size: 20px;
  font-weight: lighter;
}

  /********** Range Input Styles **********/
  .price-range {
      position: relative;
      display: inline-block;
    }

    .price-range-tooltip {
      visibility: hidden;
      position: absolute;
      top: -30px;
      left: 40%;
      transform: translateX(-50%);
      background-color: #e9d2d2;
      color: #0e0d0d;
      padding: 0.5rem;
      border-radius: 5px;
      font-size: 15px;
      opacity: 0.5;
      transition: opacity 0.3s;
    }
     .price-range:hover .price-range-tooltip {
      visibility: visible;
      opacity: 1;
    }

input[type="range"] {
   -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
   background-color: #445D48;
   border-radius: 0.5rem;
   height: 0.5rem;  
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
   appearance: none;
   margin-top: -5px; /* Centers thumb on the track */

   /*custom styles*/
   background-color:  rgb(161, 156, 156);;
   height: 1rem;
   width: 1rem;
   border-radius: 100%;
}



/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
   background-color: var(--secondary);
   border-radius: 0.5rem;
   height: 0.5rem;
   /* width: 80px; */
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
   border: none; /*Removes extra border that FF applies*/
   border-radius: 100%; /*Removes default border-radius that FF applies*/

   /*custom styles*/
   background-color: rgb(161, 156, 156);
   height: 1rem;
   width: 1rem;
}








.checkout {
  background-color:var(--background);
  color:black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  
  margin: 10px;
  height: 86vh;
  border-radius: 1rem;

}

.checkout > span {
  padding-bottom: 20px;
}

.title {
  font-size: 30px;
}

#productContainer {
  display: flex;
  width: 70%;
  padding: 20px;
  flex-wrap: wrap;
  justify-content:baseline;
  margin-left: auto;
  margin-right: auto;
gap:2rem  
}

.products {
  width: 100%;
  margin: 10px;
  background-color:white;
  border-radius:1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.products  button,.product-detail button,.checkout button, .navbar button,.categories button {
  background-color: var(--accent);
  padding: 0.5rem;
  border-radius:5rem;
  border-style: solid;
  border-width: 1.5px;
  border-color: #445D48;
 cursor: pointer; ;
}

.summary {
  width: 30%;
}
.category-options{
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}
label{
  
  height: 50px;
  display: inline;
  width: 400px;
 
  padding-left: 5rem;
  font-size: 20px;
}


.product-detail{
display: flex;
  justify-content: center;
  padding: 2rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background);
  margin-top: 4rem;
  border-radius: 2rem;
}
.cart{
  display: flex;
  align-items: center;
  flex-direction: row;
 
padding: 2rem;
}
.cart-main{
  width: 75%;
   height: 100vh;
   display: flex;
  align-items: center;
  flex-direction: column;
  
}
.cartitem{
  width: 500px;
  margin-left: auto;
  margin-right:auto;
  background-color:var(--card);
  margin-top: 1rem;
  padding:1rem
}
.qyt{
  background-color:var(--accent);
  width:50px;
  display:inline-block;
  text-align: center;
  border-radius:2rem;
}
.quantity-control button{
 
  border-radius:5rem;
  border-style: solid;
  border-width: 1.5px;
  border-color: #445D48;
  margin: 1rem;
  height: 22px;
  width:22px;
}


.carousel{
  width:100%;
  height:400px;
  background-color: red;
    display: flex;
  justify-content: center;
  

}
.carousel-items{
background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          display: flex;
}



/* Categories Dropdown  */


.categories-container {
  width: 100%;

  white-space: nowrap;
   overflow: hidden;
}

.categories {
  display: flex;
  padding: 10px;
  overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
       display: none;
    }
    scrollbar-width: none; 
}

.category-item {
  flex: 0 0 auto;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  
}











@media (max-width: 771px) {
  .checkout {
    width: 40%;
    padding: 10px;
    margin: 5px;
  }
.cart{
  flex-direction: column;
}
  .checkout > span {
    font-size: 10px;
  }

  .title {
    font-size: 18px !important;
  }

  .productContainer {
    width: 58%;
    padding: 0;
  }

 

  .products {
    width: 100%;
  }
   /* .search-form input{
display:hide;
  } */
  
}