/* header styles */
*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
:root[data-theme="light"] {
  --text: hwb(42 0% 91%);
  --background:rgba(214,204,153,0.2);
  --primary: #001524;
  --secondary:#445D48;
  --accent: #FDE5D4;
  --card: rgba(247, 242, 242,1);
}
:root[data-theme="dark"] {
  --text: hsl(42, 92%, 95%);
  --background:#001524 ;
  --primary: #001524;
  --secondary: #445D48;
  --accent: #D6CC99;
  --card: rgba(255, 255, 255, 0.03);
}
body{
  background-color: var(--background);
}
.header {
  display: flex;
  text-align: center;
  font-size: 30px;
  margin: 10px 0;
}

 .navbar {
      background-color:white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left :1rem;
      padding-right :1rem;
      height:50px
    }
.navbar h3{
     font-weight: 200;
     font-size: 2rem;
}
    .navbar-brand {
      display: flex;
      align-items: center;
      text-decoration: none;
      /* color: white; */
      font-size: xxx-large;
      font-weight: 700;
      margin-right: 15px;
      width:30%
    }

    .navbar-brand img {
      height: 50px;
      width: 50px;
      margin-right: 10px;
    }

    .search{
       position:relative;
      max-width: 500px;
      height: 1rem;
      /* margin-right: 15px; */
      padding: 5px;
      width:100%;
      display: flex;
      justify-content:center;
      justify-items: center;
      align-items: center;
      /* padding-bottom: 1rem; */
    flex-direction: row;
    }
    .search-form{
     
        display: flex;
  align-items: center;
  width: 100%;
    
    
    }
    .search-form input{
 width: 100%;
  padding: 0.5rem 0;
  padding-left: 3.5rem;
  border-width: 0px;
  outline: none;
  background-color: var(--background);
  /* border: 1px solid var(--border); */
  color: var(--text);
  /* /* border-top-left-radius: 0.5rem; */
  border-radius: 5rem; 

 }
 .search-icon{
 position: absolute;
  left: 0px;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  font-size: 2rem;
  pointer-events: none; }



.theme-n-cart{
  display: flex;
  justify-content: flex-end;
  width: 20%;
  gap: 1rem
};



 
    @media (max-width: 768px) {
      .navbar {
        flex-direction: column;
      }

      .navbar-nav {
        margin-top: 1rem;
        padding-bottom: 0;
      }
    }
.cartitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  margin-bottom: 20px;
}

.cartItemImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.cartItemDetail {
  display: flex;
  flex: 1;
  padding: 0 20px;
  flex-direction: column;
}

/* Home Page */

.home {
  display: flex;
}

.checkout {
  background-color:var(--secondary);
  color:black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 10px;
  height: 86vh;
}

.checkout > span {
  padding-bottom: 20px;
}

.title {
  font-size: 30px;
}

.productContainer {
  display: flex;
  width: 70%;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.products {
  width: 100%;
  margin: 10px;
  background-color:white;
  border-radius:1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.products  Button{
  background-color: var(--accent);
  padding: 0.5rem;
  border-radius:5rem;
  border-style: solid;
  border-width: 1.5px;
  border-color: #445D48;
 
}
.product-detail Button{
  background-color: var(--accent);
  padding: 1rem;
  border-radius: var(--radius);
 
}
.summary {
  width: 30%;
}
.category-options{
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}
label{
  background-color: var(--secondary);
  height: 50px;
  display: inline;
  width: 400px;
  /* text-align:end; */
  padding-left: 5rem;
  font-size: 20px;
}
  .larger-radio input[type="radio"] {
      transform: scale(1.5); /* Adjust the scale factor as needed */
      margin-right: 5px;} /* Optional: Adjust spacing */
/* Media Queries */

.product-detail{
display: flex;;
justify-content: center;
padding:2rem;
width:50%;
margin-left: auto;
margin-right: auto;
}
.cart{
  display: flex;
  align-items: center;
  flex-direction: row;
 
padding: 2rem;
}
.cart-main{
  width: 75%;
   height: 100vh;
   display: flex;
  align-items: center;
  flex-direction: column;
  
}
.cartitem{
  width: 500px;
  margin-left: auto;
  margin-right:auto;
  background-color:var(--card);
  margin-top: 1rem;
  padding:1rem
}
.qyt{
  background-color:var(--accent);
  width:50px;
  display:inline-block;
  text-align: center;
  border-radius: var(--radius);
}
.carousel{
  width:100%;
  height:400px;
  background-color: red;
    display: flex;
  justify-content: center;
  /* overflow: hidden; */
}
.carousel-items{
background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          display: flex;
}

/* Categories Dropdown  */

.categories-dropdown select{
   background-color: var(--background);
  width: 100%;
  padding: .5rem;
  border-style: none;
  border-radius: 5rem;
  margin: 5rem;
  text-align: center;
  font-size: 15px;
  font-weight:lighter;
   /* -webkit-appearance: none; */
  -moz-appearance: none;
  appearance: none;
 
}
/* .categories-dropdown select::-webkit-scrollbar {
  width: 10px;
}
.categories-dropdown select::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 5px;
}
.categories-dropdown select::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-hover);
} */

/* Style the scrollbar track on hover */
.categories-dropdown select::-webkit-scrollbar-track {
  background-color: var(--background);
}

/* Style the scrollbar corner */
.categories-dropdown select::-webkit-scrollbar-corner {
  background-color: transparent;
}
@media (max-width: 771px) {
  .checkout {
    width: 40%;
    padding: 10px;
    margin: 5px;
  }
.cart{
  flex-direction: column;
}
  .checkout > span {
    font-size: 10px;
  }

  .title {
    font-size: 18px !important;
  }

  .productContainer {
    width: 58%;
    padding: 0;
  }

  .search {
    display: none !important;
  }

  .products {
    width: 100%;
  }
}