/* header styles */
:root {
  --text: hsl(42, 92%, 5%);
  --background: #dbf3ec;
  --primary:#2caa87;
  --secondary: #85beb5;
  --accent: #00ffb4;
  --card: #dcfdf8;
  --radius: 0.5rem;
}
body{
  background-color: var(--background);
}
.header {
  display: flex;
  text-align: center;
  font-size: 30px;
  margin: 10px 0;
}

.cartitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  margin-bottom: 20px;
}

.cartItemImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.cartItemDetail {
  display: flex;
  flex: 1;
  padding: 0 20px;
  flex-direction: column;
}

/* Home Page */

.home {
  display: flex;
}

.filters {
  background-color: #343a40;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 10px;
  height: 86vh;
}

.filters > span {
  padding-bottom: 20px;
}

.title {
  font-size: 30px;
}

.productContainer {
  display: flex;
  width: 70%;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.products {
  width: 100%;
  margin: 10px;
  background-color:var(--card);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
}
.products Button{
  background-color: var(--accent);
  padding: 1rem;
  border-radius: var(--radius);
 
}
.summary {
  width: 30%;
}

/* Media Queries */
@media (max-width: 771px) {
  .filters {
    width: 40%;
    padding: 10px;
    margin: 5px;
  }

  .filters > span {
    font-size: 10px;
  }

  .title {
    font-size: 18px !important;
  }

  .productContainer {
    width: 58%;
    padding: 0;
  }

  .search {
    display: none !important;
  }

  .products {
    width: 100%;
  }
}